@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #f0f5fd;
}

.left-section {
  background: #fff;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 25px 10px;
  transition: all 0.3s ease;
}

.left-section h2 {
  color: #364670;
  margin-bottom: 15px;
  text-align: center;
}

.left-section .sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left-section .sidebar .item,
.left-section .sign-out {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #364670;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover,
.left-section .sign-out:hover {
  color: #4a90e2;
}

.left-section .sidebar .item h3,
.left-section .sign-out h3 {
  font-size: 15px;
  font-weight: 500;
}

.left-section .sidebar .item i,
.left-section .sign-out i {
  font-size: 22px;
}

.main {
  flex: 6;
  padding: 25px;
}

.main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .header .search {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 75%;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 10, 0.1);
}

.main .header .search button {
  font-size: 20px;
  border: none;
  background: transparent;
}

.main .header .search input {
  padding: 4px 6px;
  border: none;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.main .header .search i {
  cursor: pointer;
}

.main .header .icon-btns {
  display: flex;
  gap: 8px;
}

.main .header .icon-btns i {
  font-size: 20px;
  background-color: #4a90e2;
  padding: 8px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main .header .icon-btns i:hover {
  background-color: #357abd;
}

.main .header .icon-btns i#menu-btn {
  display: none;
}

.right-section {
  flex: 2;
}
